<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Clientes</title>
    <link rel="stylesheet" href="../css/styless.css">
</head>
<body>
    <header>
        <h1>Lista de Clientes</h1>
        <a href="../home/home.html" id="logo-link">
            <img src="../A3LOGO.png" alt="Logo" id="logo">
        </a>
    </header>

    <nav>
        <a href="../produtos/produtos.html">Produtos</a>
        <a href="../produtos/cadastroprodutos.html">Cadastro de Produtos</a>
        <a href="../clientes/clientes.html">Clientes</a>
        <a href="../clientes/cadastroclientes.html">Cadastro de Clientes</a>
    </nav>

    <section id="results">
       
    </section>

    <script src="script.js"></script>
</body>
</html>



